@charset "UTF-8";
:root {
  --edge-margin: 20px;
}
@media (max-width: 480px) {
  :root {
    --edge-margin: 10px;
  }
}

html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  line-height: 1rem;
}

.stars5 {
  content: url("../img/Ico/5Stars.svg");
  height: 20px;
  align-self: flex-start;
}

.stars4 {
  content: url("../img/Ico/4Stars.svg");
  height: 20px;
  align-self: flex-start;
}

.stars3 {
  content: url("../img/Ico/3Stars.svg");
  height: 20px;
  align-self: flex-start;
}

.btn, .map-btn {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  background: rgba(115, 255, 205, 0.5);
  box-shadow: 0 0 4px rgba(115, 255, 205, 0.8);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: #232323;
  text-align: center;
  line-height: 1em;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.btn:hover, .map-btn:hover, button:hover {
  background: rgba(115, 255, 205, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

.map-btn {
  padding: 12px 12px 12px 48px;
}
.map-btn:after {
  content: url("data:image/svg+xml,%3Csvg width='31' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.25087 25.017C1.04179 25.0199 0.83769 24.9531 0.670872 24.827C0.54163 24.735 0.436137 24.6135 0.363107 24.4727C0.290076 24.3318 0.251605 24.1756 0.250872 24.017V5.017C0.23949 4.79893 0.299798 4.58313 0.422586 4.40256C0.545373 4.22199 0.723891 4.08658 0.930872 4.017L9.93087 1.017C10.1298 0.957225 10.3419 0.957225 10.5409 1.017L20.2508 4.01697L28.9509 1.117C29.1013 1.06741 29.2613 1.05424 29.4177 1.07858C29.5742 1.10292 29.7227 1.16407 29.8509 1.257C29.9698 1.34601 30.0674 1.4604 30.1366 1.59187C30.2058 1.72333 30.2448 1.86856 30.2509 2.017V21.017C30.2514 21.2266 30.1861 21.4312 30.064 21.6016C29.942 21.7721 29.7695 21.8999 29.5709 21.967L20.5709 24.967C20.3719 25.0268 20.1598 25.0268 19.9609 24.967L10.2509 22.067L1.57087 25.017C1.46469 25.0314 1.35705 25.0314 1.25087 25.017ZM11.2509 3.3708L19.2509 5.80129V22.708L11.2281 20.2293C11.2431 20.1601 11.2509 20.0889 11.2509 20.017V3.3708ZM9.25085 3.40075L2.25087 5.737V22.627L9.28655 20.2818C9.26306 20.1962 9.25085 20.1072 9.25085 20.017V3.40075ZM28.2509 20.347L21.2509 22.6833V5.78591L28.2509 3.407V20.347Z' fill='%23323232'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 12px;
  bottom: 6px;
}

.informer {
  list-style: none;
}
.informer li {
  position: relative;
  margin: 0 0 0 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  color: #000;
}
.informer li i {
  font-style: normal;
  font-weight: 400;
  color: #323232;
}
.informer li i i {
  font-style: normal;
  font-size: 14px;
}
.informer li:not(:first-child) {
  margin: 15px 0 0 35px;
}
.informer li:before {
  content: "";
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.informer .clock:before {
  background-image: url("../img/Ico/Clock.svg");
}
.informer .transport:before {
  background-image: url("../img/Ico/Car.svg");
}
.informer .calendar:before {
  background-image: url("../img/Ico/Calendar.svg");
}
.informer .location:before {
  background-image: url("../img/Ico/Location.svg");
}
.informer .community:before {
  background-image: url("../img/Ico/Community.svg");
}
.informer .price:before {
  background-image: url("../img/Ico/Dolar.svg");
}
.informer .link:before {
  background-image: url("../img/Ico/Link.svg");
}
.informer .phone:before {
  background-image: url("../img/Ico/Phone.svg");
}
.informer .cloud:before {
  background-image: url("../img/Ico/Cloud.svg");
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background: #C8C8C8;
  border-radius: 4px;
}

#header {
  transition: all 0.4s;
}

.feedback-btn {
  position: fixed;
  display: block;
  cursor: pointer;
  z-index: 9;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  background: rgba(115, 255, 205, 0.5);
  box-shadow: 0 0 4px rgba(115, 255, 205, 0.8);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.feedback-btn:hover {
  background: rgb(115, 255, 205);
}

.feedback-btn:after {
  content: url("../img/Ico/Comment.svg");
  position: absolute;
  opacity: 0.8;
  left: 48%;
  top: 56%;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.feedback-form {
  position: fixed;
  display: none;
  opacity: 0;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.2745098039);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.feedback-form .form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: difference;
  width: 376px;
  height: 470px;
  max-width: 100%;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(240, 240, 240, 0.7);
  border: 2px solid rgba(240, 240, 240, 0.45);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
.feedback-form .form input {
  width: 296px;
  height: 42px;
  background: rgba(240, 240, 240, 0.75);
  border: 2px solid rgba(240, 240, 240, 0.45);
  border-radius: 10px;
  outline: none;
  text-align: center;
  line-height: 1em;
  font-family: Comfortaa, serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
.feedback-form .form input::placeholder {
  font-size: 18px;
  line-height: 20px;
  color: #5A5A5A;
}
.feedback-form .form .btn {
  width: 240px;
}
.feedback-form .form .email {
  margin-top: 20px;
}
.feedback-form .hide-after::after {
  display: none;
}
.feedback-form .message {
  position: relative;
  cursor: text;
  width: 296px;
  height: 184px;
  margin: 30px 0;
  color: #141414;
  overflow-y: scroll;
  background: rgba(240, 240, 240, 0.5);
  border: 2px solid rgba(240, 240, 240, 0.35);
  border-radius: 10px;
}
.feedback-form .message p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-width: 100%;
  max-width: 100%;
  max-height: 184px;
  word-wrap: anywhere;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 1em;
  color: #141414;
}
.feedback-form .message p::after {
  content: "Сообщение";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  font-size: 18px;
  line-height: 1em;
  color: #5A5A5A;
}

#burger {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  transition-duration: 0.4s;
  z-index: 26;
  cursor: pointer;
}
#burger > div, #burger > div:after, #burger > div:before {
  transition-duration: 0.4s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 4px;
}
#burger > div {
  top: 30px;
  left: 15px;
}
#burger > div:before {
  content: "";
  top: -10px;
}
#burger > div:after {
  top: 10px;
  content: "";
}
#burger.open > div {
  transition-duration: 0.4s;
  background: transparent;
}
#burger.open > div:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
#burger.open > div:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
#burger.open:hover > div:before, #burger.open:hover > div:after {
  background-color: #5be5ca;
}
#burger:not([class^=open]):hover > div, #burger:not([class^=open]):hover > div:before, #burger:not([class^=open]):hover > div:after {
  background-color: #5be5ca;
}

.main-wrapper {
  position: relative;
  width: 100%;
  background: white;
}

.page-wrapper {
  width: 1200px;
  max-width: calc(100% - 4px);
  background: rgba(249, 245, 240, 0.6);
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 30px 30px;
  margin: 0 auto 50px auto;
}

.el-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: var(--edge-margin);
  width: calc(100% - var(--edge-margin) * 2);
}

h3 {
  width: 100%;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 1em;
  color: #141414;
}
@media (max-width: 600px) {
  h3 {
    font-size: 54px;
  }
}
@media (max-width: 420px) {
  h3 {
    font-size: 48px;
  }
}

.start {
  width: 100%;
  height: 700px;
  display: grid;
  position: relative;
  place-items: center;
}
.start video {
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.start h2 {
  font-weight: 500;
  font-size: 102px;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 150px;
}
@media (max-width: 550px) {
  .start h2 {
    align-self: flex-start;
    font-size: 15vw;
  }
}

#header-box {
  position: absolute;
  bottom: 0;
  width: 1204px;
  max-width: 100%;
}

nav {
  width: 1204px;
  max-width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px 30px 0 0;
  border-width: 2px 2px 0 2px;
  backdrop-filter: blur(6px);
  border-style: solid;
}
nav ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 480px) {
  nav li {
    padding: 15px;
  }
}
nav li:hover a {
  color: #5be5ca !important;
}
nav li a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1em;
  font-size: 28px;
  color: #fff;
  transition: color 0.3s;
}
nav li:not(:last-child):after {
  position: absolute;
  width: 2px;
  height: 32px;
  margin-left: 19px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(128, 128, 128, 0.6);
  content: "";
}
@media (max-width: 944px) {
  nav li:not(:last-child):after {
    content: none;
  }
}

.about {
  position: relative;
  display: grid;
  padding: var(--edge-margin);
  grid-template-columns: 440px auto;
  grid-template-rows: 462px auto;
  grid-template-areas: "s d" "i d";
  gap: 20px;
}
.about .informer {
  grid-area: i;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px 0;
}
.about .informer a {
  color: #27436C;
  transition: color 0.3s;
}
.about .informer a:hover {
  color: #4678c5;
}

.about-swiper__light {
  position: absolute;
  grid-area: s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px);
}

.about-swiper {
  grid-area: s;
  border-radius: 15px;
}
.about-swiper .swiper-slide {
  object-fit: cover;
}
@media (max-width: 450px) {
  .about-swiper {
    height: 60vh;
  }
}

.about__text {
  grid-area: d;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 1.4rem;
  color: #000;
}

.feedback {
  margin: 80px 0 0 0;
}
.feedback .feedback__swiper-wrapper {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.feedback .feedback__swiper-wrapper .swiper-button-next, .feedback .feedback__swiper-wrapper .swiper-button-prev {
  content: url("data:image/svg+xml,%3Csvg width='25' height='44' viewBox='0 0 25 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.8969 43.0795C22.6695 44.3068 20.6796 44.3068 19.4522 43.0795L1.15074 24.7779C-0.383602 23.2436 -0.383602 20.7563 1.15074 19.222L19.4522 0.920466C20.6796 -0.306822 22.6695 -0.306822 23.8969 0.920466C25.1243 2.14775 25.1243 4.13781 23.8969 5.3651L7.26204 22L23.8969 38.6348C25.1243 39.8622 25.1243 41.8521 23.8969 43.0795Z' fill='%2373FFCD' opacity='0.5' /%3E%3Cpath d='M6.90849 21.6464L6.55493 22L6.90849 22.3535L23.5434 38.9883C23.5434 38.9883 23.5434 38.9883 23.5434 38.9883C24.5755 40.0205 24.5755 41.6938 23.5434 42.7259C22.5113 43.758 20.8379 43.758 19.8058 42.7259C19.8058 42.7259 19.8058 42.7259 19.8058 42.7259L1.5043 24.4244C0.165215 23.0853 0.165215 20.9146 1.5043 19.5755L19.8058 1.27402C20.8379 0.241989 22.5113 0.241989 23.5434 1.27403C24.5755 2.30605 24.5755 3.97952 23.5434 5.01154L23.8969 5.3651L23.5434 5.01155L6.90849 21.6464Z' stroke='black' stroke-opacity='0.2'/%3E%3C/svg%3E");
  display: inline-block;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
@media (max-width: 650px) {
  .feedback .feedback__swiper-wrapper .swiper-button-next, .feedback .feedback__swiper-wrapper .swiper-button-prev {
    display: none;
  }
}
.feedback .feedback__swiper-wrapper .swiper-button-next {
  transform: translateY(-50%) scaleX(-1);
  right: -100px;
}
.feedback .feedback__swiper-wrapper .swiper-button-prev {
  transform: translateY(-50%);
  left: -100px;
}
.feedback .swiper {
  width: 340px;
}
@media (max-width: 410px) {
  .feedback .swiper {
    width: calc(100vw - var(--edge-margin) * 2);
  }
}
@media (max-width: 650px) {
  .feedback .swiper .swiper-slide-shadow {
    display: none;
  }
}
.feedback .swiper-pagination {
  display: flex;
  bottom: -20px;
}
@media (min-width: 651px) {
  .feedback .swiper-pagination {
    display: none;
  }
}
.feedback .swiper-pagination-bullet {
  height: 5px;
  width: 40px;
  background: #EEEDEA;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.feedback .swiper-pagination-bullet-active {
  background: rgba(115, 255, 205, 0.8);
}
.feedback .swiper-slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 7px 8px 8px 8px;
  background: #EEEDEA;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  gap: 10px;
}
.feedback .swiper-slide .feedback__user-info {
  position: relative;
}
.feedback .swiper-slide .feedback__user-info .user-info__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.feedback .swiper-slide .feedback__user-info .user-info__wrapper {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  gap: 3px;
}
.feedback .swiper-slide .feedback__user-info .user-info__name {
  font-weight: 500;
  line-height: 1em;
  font-size: 16px;
  color: #323232;
}
.feedback .swiper-slide .feedback__user-info .user-info__date {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  line-height: 1em;
  font-size: 14px;
  color: #646464;
}
.feedback .swiper-slide .feedback__user-info .stars5, .feedback .swiper-slide .feedback__user-info .stars4, .feedback .swiper-slide .feedback__user-info .stars3 {
  height: 17px;
}
.feedback .swiper-slide .feedback__preview {
  height: 125px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.feedback .swiper-slide .feedback__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  color: #000;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.feedback .swiper-slide .feedback__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.2em;
  color: #000;
  height: 153px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.feedback .swiper-slide .feedback__btn {
  display: block;
  padding: 4px 0;
  color: #323232;
  text-align: center;
  line-height: 1em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(115, 255, 205, 0.5);
  transition: background-color 0.4s, box-shadow 0.4s;
}
.feedback .swiper-slide .feedback__btn:hover {
  background: rgba(115, 255, 205, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

.map {
  width: 100%;
  margin-top: 80px;
  margin-bottom: var(--edge-margin);
}
.map > .wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 var(--edge-margin);
  height: 495px;
}
.map > .wrapper .popular-places {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  width: 325px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 15px 15px 5px;
}
.map > .wrapper .popular-places__header {
  width: 100%;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin: 12px 0 15px 0;
  color: #323232;
}
.map > .wrapper .popular-places__places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.map > .wrapper .popular-places__places > .place {
  position: relative;
  width: 303px;
  height: 59px;
  background: #DCDCDC;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #DCDCDC;
  transition: background-color 0.4s, border 0.4s;
}
.map > .wrapper .popular-places__places > .place > .place__header {
  position: absolute;
  width: 293px;
  left: 6px;
  top: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.map > .wrapper .popular-places__places > .place > .place__description {
  position: absolute;
  width: 293px;
  left: 6px;
  bottom: 6px;
  font-size: 16px;
  color: #323232;
}
.map > .wrapper .popular-places__places > .place:hover {
  background: #C8C8C8;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

#ymap {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px 5px 5px 15px;
  overflow: hidden;
}

@media (max-width: 1203px) {
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .popular-places {
    display: none !important;
  }
  #ymap {
    border-radius: 15px;
  }
}
@media (max-width: 986px) {
  .about {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "s" "d" "i";
  }
  .about__text {
    font-size: 18px;
  }
}
@media (max-height: 494px) {
  .map > .wrapper {
    height: 100vh;
  }
}

/*# sourceMappingURL=main.css.map */
